@font-face {
    font-family: 'Hypericons';
    src:
        url('Hypericons.woff') format('woff'),
        url('Hypericons.ttf') format('truetype'),
        /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
        url('Hypericons.svg') format('svg');
    /* iOS 4.1- */
    font-display: swap;
}

[class^='hi-'], [class*='hi-'] {
    font-family: 'Hypericons' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.hi-question:before { content: '\3f';}
.hi-back:before { content: '\ab';}