@font-face {font-family: "Hypericons";
  src: url('Hypericons.eot?t=1645146538167'); /* IE9*/
  src: url('Hypericons.eot?t=1645146538167#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("Hypericons.woff2?t=1645146538167") format("woff2"),
  url("Hypericons.woff?t=1645146538167") format("woff"),
  url('Hypericons.ttf?t=1645146538167') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('Hypericons.svg?t=1645146538167#Hypericons') format('svg'); /* iOS 4.1- */
}

[class^="hi-"], [class*=" hi-"] {
  font-family: 'Hypericons' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hi-add-selection-fill:before { content: "\ea01"; }
.hi-add-selection-line:before { content: "\ea02"; }
.hi-circle-fill:before { content: "\ea03"; }
.hi-circle-line:before { content: "\ea04"; }
.hi-circle-marquee-line:before { content: "\ea05"; }
.hi-circle-semi:before { content: "\ea06"; }
.hi-circle-small-fill:before { content: "\ea07"; }
.hi-circle-small-line:before { content: "\ea08"; }
.hi-circle-small-semi:before { content: "\ea09"; }
.hi-cursor-1-line:before { content: "\ea0a"; }
.hi-cursor-2-fill:before { content: "\ea0b"; }
.hi-cursor-2-fill_1:before { content: "\ea0c"; }
.hi-cursor-2-line:before { content: "\ea0d"; }
.hi-curve-line:before { content: "\ea0e"; }
.hi-eraser-fill:before { content: "\ea0f"; }
.hi-eraser-line:before { content: "\ea10"; }
.hi-eraser-semi:before { content: "\ea11"; }
.hi-eye-crossed-line:before { content: "\ea12"; }
.hi-eye-line:before { content: "\ea13"; }
.hi-eyedropper-fill:before { content: "\ea14"; }
.hi-eyedropper-line:before { content: "\ea15"; }
.hi-eyedropper-semi:before { content: "\ea16"; }
.hi-intersect-selection-fill:before { content: "\ea17"; }
.hi-intersect-selection-line:before { content: "\ea18"; }
.hi-lasso-line:before { content: "\ea19"; }
.hi-layer-fill:before { content: "\ea1a"; }
.hi-layer-line:before { content: "\ea1b"; }
.hi-lock-fill:before { content: "\ea1c"; }
.hi-lock-line:before { content: "\ea1d"; }
.hi-lock-open-fill:before { content: "\ea1e"; }
.hi-lock-open-line:before { content: "\ea1f"; }
.hi-magic-wand-fill:before { content: "\ea20"; }
.hi-magic-wand-line:before { content: "\ea21"; }
.hi-marquee-line:before { content: "\ea22"; }
.hi-menu:before { content: "\ea23"; }
.hi-move-line:before { content: "\ea24"; }
.hi-paint-bucket-fill:before { content: "\ea25"; }
.hi-paint-bucket-line:before { content: "\ea26"; }
.hi-paint-bucket-semi:before { content: "\ea27"; }
.hi-path-fill:before { content: "\ea28"; }
.hi-path-line:before { content: "\ea29"; }
.hi-path-semi:before { content: "\ea2a"; }
.hi-pencil-fill:before { content: "\ea2b"; }
.hi-pencil-line:before { content: "\ea2c"; }
.hi-pencil-semi:before { content: "\ea2d"; }
.hi-polygon-lasso-line:before { content: "\ea2e"; }
.hi-redo-line:before { content: "\ea2f"; }
.hi-replace-selection-fill:before { content: "\ea30"; }
.hi-replace-selection-line:before { content: "\ea31"; }
.hi-rounded-square-fill:before { content: "\ea32"; }
.hi-rounded-square-line:before { content: "\ea33"; }
.hi-rounded-square-semi:before { content: "\ea34"; }
.hi-rounded-square-small-fill:before { content: "\ea35"; }
.hi-rounded-square-small-line:before { content: "\ea36"; }
.hi-rounded-square-small-semi:before { content: "\ea37"; }
.hi-spray-fill:before { content: "\ea38"; }
.hi-spray-line:before { content: "\ea39"; }
.hi-spray-semi:before { content: "\ea3a"; }
.hi-square-fill:before { content: "\ea3b"; }
.hi-square-line:before { content: "\ea3c"; }
.hi-square-semi:before { content: "\ea3d"; }
.hi-square-small-fill:before { content: "\ea3e"; }
.hi-square-small-line:before { content: "\ea3f"; }
.hi-square-small-semi:before { content: "\ea40"; }
.hi-star-fill:before { content: "\ea41"; }
.hi-star-line:before { content: "\ea42"; }
.hi-star-semi:before { content: "\ea43"; }
.hi-subtract-selection-fill:before { content: "\ea44"; }
.hi-subtract-selection-line:before { content: "\ea45"; }
.hi-trash-fill:before { content: "\ea46"; }
.hi-trash-line:before { content: "\ea47"; }
.hi-type-tool-line:before { content: "\ea48"; }
.hi-undo-line:before { content: "\ea49"; }
.hi-zoom-fill:before { content: "\ea4a"; }
.hi-zoom-line:before { content: "\ea4b"; }

$hi-add-selection-fill: "\ea01";
$hi-add-selection-line: "\ea02";
$hi-circle-fill: "\ea03";
$hi-circle-line: "\ea04";
$hi-circle-marquee-line: "\ea05";
$hi-circle-semi: "\ea06";
$hi-circle-small-fill: "\ea07";
$hi-circle-small-line: "\ea08";
$hi-circle-small-semi: "\ea09";
$hi-cursor-1-line: "\ea0a";
$hi-cursor-2-fill: "\ea0b";
$hi-cursor-2-fill_1: "\ea0c";
$hi-cursor-2-line: "\ea0d";
$hi-curve-line: "\ea0e";
$hi-eraser-fill: "\ea0f";
$hi-eraser-line: "\ea10";
$hi-eraser-semi: "\ea11";
$hi-eye-crossed-line: "\ea12";
$hi-eye-line: "\ea13";
$hi-eyedropper-fill: "\ea14";
$hi-eyedropper-line: "\ea15";
$hi-eyedropper-semi: "\ea16";
$hi-intersect-selection-fill: "\ea17";
$hi-intersect-selection-line: "\ea18";
$hi-lasso-line: "\ea19";
$hi-layer-fill: "\ea1a";
$hi-layer-line: "\ea1b";
$hi-lock-fill: "\ea1c";
$hi-lock-line: "\ea1d";
$hi-lock-open-fill: "\ea1e";
$hi-lock-open-line: "\ea1f";
$hi-magic-wand-fill: "\ea20";
$hi-magic-wand-line: "\ea21";
$hi-marquee-line: "\ea22";
$hi-menu: "\ea23";
$hi-move-line: "\ea24";
$hi-paint-bucket-fill: "\ea25";
$hi-paint-bucket-line: "\ea26";
$hi-paint-bucket-semi: "\ea27";
$hi-path-fill: "\ea28";
$hi-path-line: "\ea29";
$hi-path-semi: "\ea2a";
$hi-pencil-fill: "\ea2b";
$hi-pencil-line: "\ea2c";
$hi-pencil-semi: "\ea2d";
$hi-polygon-lasso-line: "\ea2e";
$hi-redo-line: "\ea2f";
$hi-replace-selection-fill: "\ea30";
$hi-replace-selection-line: "\ea31";
$hi-rounded-square-fill: "\ea32";
$hi-rounded-square-line: "\ea33";
$hi-rounded-square-semi: "\ea34";
$hi-rounded-square-small-fill: "\ea35";
$hi-rounded-square-small-line: "\ea36";
$hi-rounded-square-small-semi: "\ea37";
$hi-spray-fill: "\ea38";
$hi-spray-line: "\ea39";
$hi-spray-semi: "\ea3a";
$hi-square-fill: "\ea3b";
$hi-square-line: "\ea3c";
$hi-square-semi: "\ea3d";
$hi-square-small-fill: "\ea3e";
$hi-square-small-line: "\ea3f";
$hi-square-small-semi: "\ea40";
$hi-star-fill: "\ea41";
$hi-star-line: "\ea42";
$hi-star-semi: "\ea43";
$hi-subtract-selection-fill: "\ea44";
$hi-subtract-selection-line: "\ea45";
$hi-trash-fill: "\ea46";
$hi-trash-line: "\ea47";
$hi-type-tool-line: "\ea48";
$hi-undo-line: "\ea49";
$hi-zoom-fill: "\ea4a";
$hi-zoom-line: "\ea4b";

