@font-face {
		font-family: "Hypericons";
		src: url('Hypericons.eot?t=1671865404499');
		/* IE9*/
		src: url('Hypericons.eot?t=1671865404499#iefix') format('embedded-opentype'),
			/* IE6-IE8 */
			url("Hypericons.woff2?t=1671865404499") format("woff2"),
			url("Hypericons.woff?t=1671865404499") format("woff"),
			url('Hypericons.ttf?t=1671865404499') format('truetype'),
			/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
			url('Hypericons.svg?t=1671865404499#Hypericons') format('svg');
		/* iOS 4.1- */
	}
	
	[class^="hi-"],
	[class*=" hi-"] {
		position: relative;
		display: inline-block;
		font-family: 'Hypericons' !important;
		font-size: 24px;
		width: 1em;
		height: 1em;
		font-style: normal;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	
	[class^="hi-"]:before,
	[class*=" hi-"]:before,
	[class^="hi-"]:after,
	[class*=" hi-"]:after {
		width: 1em;
		height: 1em;
		position: absolute;
		left: 0;
	}
	
[class^="hi-"]:before,
[class*=" hi-"]:before {
    color: var(--hi-accent, inherit);
}

[class^="hi-"]:after,
[class*=" hi-"]:after {
    color: var(--hi-base, inherit);
}
	.hi-add-selection:after {content: "\ea01";}
	.hi-check:after {content: "\ea02";}
	.hi-circle-fill:after {content: "\ea03";}
	.hi-circle-line:after {content: "\ea04";}
	.hi-circle-marquee:after {content: "\ea05";}
		.hi-circle-marquee:before {content: "\ea06";}
	.hi-circle-small-fill:after {content: "\ea07";}
	.hi-circle-small-line:after {content: "\ea08";}
	.hi-cloud:after {content: "\ea09";}
	.hi-eraser:after {content: "\ea0a";}
		.hi-eraser:before {content: "\ea0b";}
	.hi-export:after {content: "\ea0c";}
		.hi-export:before {content: "\ea0d";}
	.hi-eye-crossed:after {content: "\ea0e";}
		.hi-eye-crossed:before {content: "\ea0f";}
	.hi-eye:after {content: "\ea10";}
		.hi-eye:before {content: "\ea11";}
	.hi-eyedropper:after {content: "\ea12";}
		.hi-eyedropper:before {content: "\ea13";}
	.hi-file:after {content: "\ea14";}
		.hi-file:before {content: "\ea15";}
	.hi-fill:after {content: "\ea16";}
		.hi-fill:before {content: "\ea17";}
	.hi-gear:after {content: "\ea18";}
		.hi-gear:before {content: "\ea19";}
	.hi-import:after {content: "\ea1a";}
		.hi-import:before {content: "\ea1b";}
	.hi-intersect-selection:after {content: "\ea1c";}
		.hi-intersect-selection:before {content: "\ea1d";}
	.hi-layer:after {content: "\ea1e";}
		.hi-layer:before {content: "\ea1f";}
	.hi-line:after {content: "\ea20";}
		.hi-line:before {content: "\ea21";}
	.hi-lock-open:after {content: "\ea22";}
		.hi-lock-open:before {content: "\ea23";}
	.hi-lock:after {content: "\ea24";}
		.hi-lock:before {content: "\ea25";}
	.hi-marquee:after {content: "\ea26";}
		.hi-marquee:before {content: "\ea27";}
	.hi-move:after {content: "\ea28";}
		.hi-move:before {content: "\ea29";}
	.hi-pencil:after {content: "\ea2a";}
		.hi-pencil:before {content: "\ea2b";}
	.hi-redo:after {content: "\ea2c";}
		.hi-redo:before {content: "\ea2d";}
	.hi-replace-selection:after {content: "\ea2e";}
		.hi-replace-selection:before {content: "\ea2f";}
	.hi-save:after {content: "\ea30";}
		.hi-save:before {content: "\ea31";}
	.hi-spray:after {content: "\ea32";}
		.hi-spray:before {content: "\ea33";}
	.hi-square-fill:after {content: "\ea34";}
	.hi-square-line:after {content: "\ea35";}
	.hi-subtract-selection:after {content: "\ea36";}
		.hi-subtract-selection:before {content: "\ea37";}
	.hi-trash:after {content: "\ea38";}
		.hi-trash:before {content: "\ea39";}
	.hi-undo:after {content: "\ea3a";}
		.hi-undo:before {content: "\ea3b";}
	.hi-x:after {content: "\ea3c";}