@font-face {font-family: "Hypericons";
  src: url('Hypericons.eot?t=1661038993450'); /* IE9*/
  src: url('Hypericons.eot?t=1661038993450#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("Hypericons.woff2?t=1661038993450") format("woff2"),
  url("Hypericons.woff?t=1661038993450") format("woff"),
  url('Hypericons.ttf?t=1661038993450') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('Hypericons.svg?t=1661038993450#Hypericons') format('svg'); /* iOS 4.1- */
}

[class^="hi-"], [class*=" hi-"] {
  font-family: 'Hypericons' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hi-account-fill:before { content: "\ea01"; }
.hi-account-line:before { content: "\ea02"; }
.hi-add-selection-fill:before { content: "\ea03"; }
.hi-add-selection-line:before { content: "\ea04"; }
.hi-alert-fill:before { content: "\ea05"; }
.hi-alpha-line:before { content: "\ea06"; }
.hi-blending-fill:before { content: "\ea07"; }
.hi-blending-line:before { content: "\ea08"; }
.hi-circle-fill:before { content: "\ea09"; }
.hi-circle-line:before { content: "\ea0a"; }
.hi-circle-marquee-line:before { content: "\ea0b"; }
.hi-circle-small-fill:before { content: "\ea0c"; }
.hi-circle-small-line:before { content: "\ea0d"; }
.hi-clock-fill:before { content: "\ea0e"; }
.hi-clock-line:before { content: "\ea0f"; }
.hi-cloud-fill:before { content: "\ea10"; }
.hi-cloud-line:before { content: "\ea11"; }
.hi-copy-fill:before { content: "\ea12"; }
.hi-copy-line:before { content: "\ea13"; }
.hi-cursor-1-fill:before { content: "\ea14"; }
.hi-cursor-1-line:before { content: "\ea15"; }
.hi-cursor-2-fill:before { content: "\ea16"; }
.hi-cursor-2-line:before { content: "\ea17"; }
.hi-curve-line:before { content: "\ea18"; }
.hi-divide-line:before { content: "\ea19"; }
.hi-down-arrow-large-line:before { content: "\ea1a"; }
.hi-down-arrow-small-line:before { content: "\ea1b"; }
.hi-duplicate-fill:before { content: "\ea1c"; }
.hi-duplicate-line:before { content: "\ea1d"; }
.hi-enter-line:before { content: "\ea1e"; }
.hi-eraser-fill:before { content: "\ea1f"; }
.hi-eraser-line:before { content: "\ea20"; }
.hi-exit-line:before { content: "\ea21"; }
.hi-experimental-fill:before { content: "\ea22"; }
.hi-experimental-line:before { content: "\ea23"; }
.hi-export-line:before { content: "\ea24"; }
.hi-eye-crossed-line:before { content: "\ea25"; }
.hi-eye-line:before { content: "\ea26"; }
.hi-eyedropper-fill:before { content: "\ea27"; }
.hi-eyedropper-line:before { content: "\ea28"; }
.hi-file-fill:before { content: "\ea29"; }
.hi-file-line:before { content: "\ea2a"; }
.hi-folder-add-fill:before { content: "\ea2b"; }
.hi-folder-add-line:before { content: "\ea2c"; }
.hi-folder-fill:before { content: "\ea2d"; }
.hi-folder-line:before { content: "\ea2e"; }
.hi-freehand-select-line:before { content: "\ea2f"; }
.hi-github-logo-fill:before { content: "\ea30"; }
.hi-google-logo-fill:before { content: "\ea31"; }
.hi-half-star-line:before { content: "\ea32"; }
.hi-headphones-line:before { content: "\ea33"; }
.hi-help-fill:before { content: "\ea34"; }
.hi-help-line:before { content: "\ea35"; }
.hi-import-line:before { content: "\ea36"; }
.hi-info-fill:before { content: "\ea37"; }
.hi-info-line:before { content: "\ea38"; }
.hi-intersect-selection-fill:before { content: "\ea39"; }
.hi-intersect-selection-line:before { content: "\ea3a"; }
.hi-keyboard-line:before { content: "\ea3b"; }
.hi-lasso-line:before { content: "\ea3c"; }
.hi-layer-fill:before { content: "\ea3d"; }
.hi-layer-line:before { content: "\ea3e"; }
.hi-left-arrow-large-line:before { content: "\ea3f"; }
.hi-left-arrow-small-line:before { content: "\ea40"; }
.hi-lock-fill:before { content: "\ea41"; }
.hi-lock-line:before { content: "\ea42"; }
.hi-lock-open-fill:before { content: "\ea43"; }
.hi-lock-open-line:before { content: "\ea44"; }
.hi-loop-line:before { content: "\ea45"; }
.hi-magic-wand-fill:before { content: "\ea46"; }
.hi-magic-wand-line:before { content: "\ea47"; }
.hi-marquee-line:before { content: "\ea48"; }
.hi-menu-line:before { content: "\ea49"; }
.hi-merge-all-line:before { content: "\ea4a"; }
.hi-merge-down-line:before { content: "\ea4b"; }
.hi-mic-fill:before { content: "\ea4c"; }
.hi-mic-line:before { content: "\ea4d"; }
.hi-minus-line:before { content: "\ea4e"; }
.hi-move-line:before { content: "\ea4f"; }
.hi-paint-bucket-fill:before { content: "\ea50"; }
.hi-paint-bucket-line:before { content: "\ea51"; }
.hi-paste-line:before { content: "\ea52"; }
.hi-path-fill:before { content: "\ea53"; }
.hi-path-line:before { content: "\ea54"; }
.hi-pause-fill:before { content: "\ea55"; }
.hi-pause-line:before { content: "\ea56"; }
.hi-pencil-fill:before { content: "\ea57"; }
.hi-pencil-line:before { content: "\ea58"; }
.hi-play-fill:before { content: "\ea59"; }
.hi-play-line:before { content: "\ea5a"; }
.hi-plus-large-line:before { content: "\ea5b"; }
.hi-plus-small-line:before { content: "\ea5c"; }
.hi-polygon-lasso-line:before { content: "\ea5d"; }
.hi-record-fill:before { content: "\ea5e"; }
.hi-record-line:before { content: "\ea5f"; }
.hi-redo-line:before { content: "\ea60"; }
.hi-replace-selection-fill:before { content: "\ea61"; }
.hi-replace-selection-line:before { content: "\ea62"; }
.hi-right-arrow-large-line:before { content: "\ea63"; }
.hi-right-arrow-small-line:before { content: "\ea64"; }
.hi-rounded-square-fill:before { content: "\ea65"; }
.hi-rounded-square-line:before { content: "\ea66"; }
.hi-rounded-square-small-fill:before { content: "\ea67"; }
.hi-rounded-square-small-line:before { content: "\ea68"; }
.hi-scissors-fill:before { content: "\ea69"; }
.hi-scissors-line:before { content: "\ea6a"; }
.hi-seek-backward-fill:before { content: "\ea6b"; }
.hi-seek-backward-line:before { content: "\ea6c"; }
.hi-seek-end-fill:before { content: "\ea6d"; }
.hi-seek-end-line:before { content: "\ea6e"; }
.hi-seek-forward-fill:before { content: "\ea6f"; }
.hi-seek-forward-line:before { content: "\ea70"; }
.hi-seek-start-fill:before { content: "\ea71"; }
.hi-seek-start-line:before { content: "\ea72"; }
.hi-settings-fill:before { content: "\ea73"; }
.hi-settings-line:before { content: "\ea74"; }
.hi-sparkles-line:before { content: "\ea75"; }
.hi-spray-fill:before { content: "\ea76"; }
.hi-spray-line:before { content: "\ea77"; }
.hi-square-fill:before { content: "\ea78"; }
.hi-square-line:before { content: "\ea79"; }
.hi-square-small-fill:before { content: "\ea7a"; }
.hi-square-small-line:before { content: "\ea7b"; }
.hi-star-fill:before { content: "\ea7c"; }
.hi-star-line:before { content: "\ea7d"; }
.hi-stop-fill:before { content: "\ea7e"; }
.hi-stop-line:before { content: "\ea7f"; }
.hi-subtract-selection-fill:before { content: "\ea80"; }
.hi-subtract-selection-line:before { content: "\ea81"; }
.hi-text-cursor-line:before { content: "\ea82"; }
.hi-transparent-line:before { content: "\ea83"; }
.hi-trash-fill:before { content: "\ea84"; }
.hi-trash-line:before { content: "\ea85"; }
.hi-twitter-logo-fill:before { content: "\ea86"; }
.hi-type-tool-line:before { content: "\ea87"; }
.hi-ui-line:before { content: "\ea88"; }
.hi-undo-line:before { content: "\ea89"; }
.hi-up-arrow-large-line:before { content: "\ea8a"; }
.hi-up-arrow-small-line:before { content: "\ea8b"; }
.hi-warn-fill:before { content: "\ea8c"; }
.hi-warn-line:before { content: "\ea8d"; }
.hi-x-large-line:before { content: "\ea8e"; }
.hi-x-small-line:before { content: "\ea8f"; }
.hi-zoom-fill:before { content: "\ea90"; }
.hi-zoom-line:before { content: "\ea91"; }

$hi-account-fill: "\ea01";
$hi-account-line: "\ea02";
$hi-add-selection-fill: "\ea03";
$hi-add-selection-line: "\ea04";
$hi-alert-fill: "\ea05";
$hi-alpha-line: "\ea06";
$hi-blending-fill: "\ea07";
$hi-blending-line: "\ea08";
$hi-circle-fill: "\ea09";
$hi-circle-line: "\ea0a";
$hi-circle-marquee-line: "\ea0b";
$hi-circle-small-fill: "\ea0c";
$hi-circle-small-line: "\ea0d";
$hi-clock-fill: "\ea0e";
$hi-clock-line: "\ea0f";
$hi-cloud-fill: "\ea10";
$hi-cloud-line: "\ea11";
$hi-copy-fill: "\ea12";
$hi-copy-line: "\ea13";
$hi-cursor-1-fill: "\ea14";
$hi-cursor-1-line: "\ea15";
$hi-cursor-2-fill: "\ea16";
$hi-cursor-2-line: "\ea17";
$hi-curve-line: "\ea18";
$hi-divide-line: "\ea19";
$hi-down-arrow-large-line: "\ea1a";
$hi-down-arrow-small-line: "\ea1b";
$hi-duplicate-fill: "\ea1c";
$hi-duplicate-line: "\ea1d";
$hi-enter-line: "\ea1e";
$hi-eraser-fill: "\ea1f";
$hi-eraser-line: "\ea20";
$hi-exit-line: "\ea21";
$hi-experimental-fill: "\ea22";
$hi-experimental-line: "\ea23";
$hi-export-line: "\ea24";
$hi-eye-crossed-line: "\ea25";
$hi-eye-line: "\ea26";
$hi-eyedropper-fill: "\ea27";
$hi-eyedropper-line: "\ea28";
$hi-file-fill: "\ea29";
$hi-file-line: "\ea2a";
$hi-folder-add-fill: "\ea2b";
$hi-folder-add-line: "\ea2c";
$hi-folder-fill: "\ea2d";
$hi-folder-line: "\ea2e";
$hi-freehand-select-line: "\ea2f";
$hi-github-logo-fill: "\ea30";
$hi-google-logo-fill: "\ea31";
$hi-half-star-line: "\ea32";
$hi-headphones-line: "\ea33";
$hi-help-fill: "\ea34";
$hi-help-line: "\ea35";
$hi-import-line: "\ea36";
$hi-info-fill: "\ea37";
$hi-info-line: "\ea38";
$hi-intersect-selection-fill: "\ea39";
$hi-intersect-selection-line: "\ea3a";
$hi-keyboard-line: "\ea3b";
$hi-lasso-line: "\ea3c";
$hi-layer-fill: "\ea3d";
$hi-layer-line: "\ea3e";
$hi-left-arrow-large-line: "\ea3f";
$hi-left-arrow-small-line: "\ea40";
$hi-lock-fill: "\ea41";
$hi-lock-line: "\ea42";
$hi-lock-open-fill: "\ea43";
$hi-lock-open-line: "\ea44";
$hi-loop-line: "\ea45";
$hi-magic-wand-fill: "\ea46";
$hi-magic-wand-line: "\ea47";
$hi-marquee-line: "\ea48";
$hi-menu-line: "\ea49";
$hi-merge-all-line: "\ea4a";
$hi-merge-down-line: "\ea4b";
$hi-mic-fill: "\ea4c";
$hi-mic-line: "\ea4d";
$hi-minus-line: "\ea4e";
$hi-move-line: "\ea4f";
$hi-paint-bucket-fill: "\ea50";
$hi-paint-bucket-line: "\ea51";
$hi-paste-line: "\ea52";
$hi-path-fill: "\ea53";
$hi-path-line: "\ea54";
$hi-pause-fill: "\ea55";
$hi-pause-line: "\ea56";
$hi-pencil-fill: "\ea57";
$hi-pencil-line: "\ea58";
$hi-play-fill: "\ea59";
$hi-play-line: "\ea5a";
$hi-plus-large-line: "\ea5b";
$hi-plus-small-line: "\ea5c";
$hi-polygon-lasso-line: "\ea5d";
$hi-record-fill: "\ea5e";
$hi-record-line: "\ea5f";
$hi-redo-line: "\ea60";
$hi-replace-selection-fill: "\ea61";
$hi-replace-selection-line: "\ea62";
$hi-right-arrow-large-line: "\ea63";
$hi-right-arrow-small-line: "\ea64";
$hi-rounded-square-fill: "\ea65";
$hi-rounded-square-line: "\ea66";
$hi-rounded-square-small-fill: "\ea67";
$hi-rounded-square-small-line: "\ea68";
$hi-scissors-fill: "\ea69";
$hi-scissors-line: "\ea6a";
$hi-seek-backward-fill: "\ea6b";
$hi-seek-backward-line: "\ea6c";
$hi-seek-end-fill: "\ea6d";
$hi-seek-end-line: "\ea6e";
$hi-seek-forward-fill: "\ea6f";
$hi-seek-forward-line: "\ea70";
$hi-seek-start-fill: "\ea71";
$hi-seek-start-line: "\ea72";
$hi-settings-fill: "\ea73";
$hi-settings-line: "\ea74";
$hi-sparkles-line: "\ea75";
$hi-spray-fill: "\ea76";
$hi-spray-line: "\ea77";
$hi-square-fill: "\ea78";
$hi-square-line: "\ea79";
$hi-square-small-fill: "\ea7a";
$hi-square-small-line: "\ea7b";
$hi-star-fill: "\ea7c";
$hi-star-line: "\ea7d";
$hi-stop-fill: "\ea7e";
$hi-stop-line: "\ea7f";
$hi-subtract-selection-fill: "\ea80";
$hi-subtract-selection-line: "\ea81";
$hi-text-cursor-line: "\ea82";
$hi-transparent-line: "\ea83";
$hi-trash-fill: "\ea84";
$hi-trash-line: "\ea85";
$hi-twitter-logo-fill: "\ea86";
$hi-type-tool-line: "\ea87";
$hi-ui-line: "\ea88";
$hi-undo-line: "\ea89";
$hi-up-arrow-large-line: "\ea8a";
$hi-up-arrow-small-line: "\ea8b";
$hi-warn-fill: "\ea8c";
$hi-warn-line: "\ea8d";
$hi-x-large-line: "\ea8e";
$hi-x-small-line: "\ea8f";
$hi-zoom-fill: "\ea90";
$hi-zoom-line: "\ea91";

