@font-face {font-family: "Hypericons";
  src: url('Hypericons.eot?t=1644987566003'); /* IE9*/
  src: url('Hypericons.eot?t=1644987566003#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("Hypericons.woff2?t=1644987566003") format("woff2"),
  url("Hypericons.woff?t=1644987566003") format("woff"),
  url('Hypericons.ttf?t=1644987566003') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('Hypericons.svg?t=1644987566003#Hypericons') format('svg'); /* iOS 4.1- */
}

[class^="hi-"], [class*=" hi-"] {
  font-family: 'Hypericons' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hi-add-selection-fill:before { content: "\ea01"; }
.hi-add-selection-line:before { content: "\ea02"; }
.hi-circle-fill:before { content: "\ea03"; }
.hi-circle-line:before { content: "\ea04"; }
.hi-circle-semi:before { content: "\ea05"; }
.hi-circle-small-fill:before { content: "\ea06"; }
.hi-circle-small-line:before { content: "\ea07"; }
.hi-circle-small-semi:before { content: "\ea08"; }
.hi-eraser-fill:before { content: "\ea09"; }
.hi-eraser-line:before { content: "\ea0a"; }
.hi-eraser-semi:before { content: "\ea0b"; }
.hi-eye-crossed-line:before { content: "\ea0c"; }
.hi-eye-line:before { content: "\ea0d"; }
.hi-eyedropper-fill:before { content: "\ea0e"; }
.hi-eyedropper-line:before { content: "\ea0f"; }
.hi-eyedropper-semi:before { content: "\ea10"; }
.hi-intersect-selection-line:before { content: "\ea11"; }
.hi-intersect-selection-line_1:before { content: "\ea12"; }
.hi-layer-fill:before { content: "\ea13"; }
.hi-layer-line:before { content: "\ea14"; }
.hi-lock-fill:before { content: "\ea15"; }
.hi-lock-line:before { content: "\ea16"; }
.hi-lock-open-fill:before { content: "\ea17"; }
.hi-lock-open-line:before { content: "\ea18"; }
.hi-menu:before { content: "\ea19"; }
.hi-paint-bucket-fill:before { content: "\ea1a"; }
.hi-paint-bucket-line:before { content: "\ea1b"; }
.hi-paint-bucket-semi:before { content: "\ea1c"; }
.hi-path-fill:before { content: "\ea1d"; }
.hi-path-line:before { content: "\ea1e"; }
.hi-path-semi:before { content: "\ea1f"; }
.hi-pencil-fill:before { content: "\ea20"; }
.hi-pencil-line:before { content: "\ea21"; }
.hi-pencil-semi:before { content: "\ea22"; }
.hi-redo-line:before { content: "\ea23"; }
.hi-replace-selection-fill:before { content: "\ea24"; }
.hi-replace-selection-line:before { content: "\ea25"; }
.hi-spray-fill:before { content: "\ea26"; }
.hi-spray-line:before { content: "\ea27"; }
.hi-spray-semi:before { content: "\ea28"; }
.hi-square-fill:before { content: "\ea29"; }
.hi-square-line:before { content: "\ea2a"; }
.hi-square-semi:before { content: "\ea2b"; }
.hi-square-small-fill:before { content: "\ea2c"; }
.hi-square-small-line:before { content: "\ea2d"; }
.hi-square-small-semi:before { content: "\ea2e"; }
.hi-subtract-selection-fill:before { content: "\ea2f"; }
.hi-subtract-selection-line:before { content: "\ea30"; }
.hi-trash-fill:before { content: "\ea31"; }
.hi-trash-line:before { content: "\ea32"; }
.hi-undo-line:before { content: "\ea33"; }

$hi-add-selection-fill: "\ea01";
$hi-add-selection-line: "\ea02";
$hi-circle-fill: "\ea03";
$hi-circle-line: "\ea04";
$hi-circle-semi: "\ea05";
$hi-circle-small-fill: "\ea06";
$hi-circle-small-line: "\ea07";
$hi-circle-small-semi: "\ea08";
$hi-eraser-fill: "\ea09";
$hi-eraser-line: "\ea0a";
$hi-eraser-semi: "\ea0b";
$hi-eye-crossed-line: "\ea0c";
$hi-eye-line: "\ea0d";
$hi-eyedropper-fill: "\ea0e";
$hi-eyedropper-line: "\ea0f";
$hi-eyedropper-semi: "\ea10";
$hi-intersect-selection-line: "\ea11";
$hi-intersect-selection-line_1: "\ea12";
$hi-layer-fill: "\ea13";
$hi-layer-line: "\ea14";
$hi-lock-fill: "\ea15";
$hi-lock-line: "\ea16";
$hi-lock-open-fill: "\ea17";
$hi-lock-open-line: "\ea18";
$hi-menu: "\ea19";
$hi-paint-bucket-fill: "\ea1a";
$hi-paint-bucket-line: "\ea1b";
$hi-paint-bucket-semi: "\ea1c";
$hi-path-fill: "\ea1d";
$hi-path-line: "\ea1e";
$hi-path-semi: "\ea1f";
$hi-pencil-fill: "\ea20";
$hi-pencil-line: "\ea21";
$hi-pencil-semi: "\ea22";
$hi-redo-line: "\ea23";
$hi-replace-selection-fill: "\ea24";
$hi-replace-selection-line: "\ea25";
$hi-spray-fill: "\ea26";
$hi-spray-line: "\ea27";
$hi-spray-semi: "\ea28";
$hi-square-fill: "\ea29";
$hi-square-line: "\ea2a";
$hi-square-semi: "\ea2b";
$hi-square-small-fill: "\ea2c";
$hi-square-small-line: "\ea2d";
$hi-square-small-semi: "\ea2e";
$hi-subtract-selection-fill: "\ea2f";
$hi-subtract-selection-line: "\ea30";
$hi-trash-fill: "\ea31";
$hi-trash-line: "\ea32";
$hi-undo-line: "\ea33";

