@font-face {font-family: "Hypericons";
  src: url('Hypericons.eot?t=1643844741496'); /* IE9*/
  src: url('Hypericons.eot?t=1643844741496#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("Hypericons.woff2?t=1643844741496") format("woff2"),
  url("Hypericons.woff?t=1643844741496") format("woff"),
  url('Hypericons.ttf?t=1643844741496') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('Hypericons.svg?t=1643844741496#Hypericons') format('svg'); /* iOS 4.1- */
}

[class^="hi-"], [class*=" hi-"] {
  font-family: 'Hypericons' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hi-circle-fill:before { content: "\ea01"; }
.hi-circle-line:before { content: "\ea02"; }
.hi-circle-mid:before { content: "\ea03"; }
.hi-circle-small-fill:before { content: "\ea04"; }
.hi-circle-small-line:before { content: "\ea05"; }
.hi-circle-small-mid:before { content: "\ea06"; }
.hi-eraser-fill:before { content: "\ea07"; }
.hi-eraser-line:before { content: "\ea08"; }
.hi-eraser-mid:before { content: "\ea09"; }
.hi-eye-crossed-line:before { content: "\ea0a"; }
.hi-eye-line:before { content: "\ea0b"; }
.hi-eyedropper-fill:before { content: "\ea0c"; }
.hi-eyedropper-line:before { content: "\ea0d"; }
.hi-eyedropper-mid:before { content: "\ea0e"; }
.hi-layer-fill:before { content: "\ea0f"; }
.hi-layer-line:before { content: "\ea10"; }
.hi-paint-bucket-fill:before { content: "\ea11"; }
.hi-paint-bucket-line:before { content: "\ea12"; }
.hi-paint-bucket-mid:before { content: "\ea13"; }
.hi-path-fill:before { content: "\ea14"; }
.hi-path-line:before { content: "\ea15"; }
.hi-path-mid:before { content: "\ea16"; }
.hi-pencil-fill:before { content: "\ea17"; }
.hi-pencil-line:before { content: "\ea18"; }
.hi-pencil-mid:before { content: "\ea19"; }
.hi-redo-line:before { content: "\ea1a"; }
.hi-spray-fill:before { content: "\ea1b"; }
.hi-spray-line:before { content: "\ea1c"; }
.hi-spray-mid:before { content: "\ea1d"; }
.hi-square-fill:before { content: "\ea1e"; }
.hi-square-line:before { content: "\ea1f"; }
.hi-square-mid:before { content: "\ea20"; }
.hi-square-small-fill:before { content: "\ea21"; }
.hi-square-small-line:before { content: "\ea22"; }
.hi-square-small-mid:before { content: "\ea23"; }
.hi-trash-fill:before { content: "\ea24"; }
.hi-trash-line:before { content: "\ea25"; }
.hi-undo-line:before { content: "\ea26"; }
